button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  border: none;
  width: 100%;
  padding: 0.125em 0.5em;
  border-radius: 3px;

  &:hover {
    background: hsl(172, 65%, 72%);
    color: hsl(183, 100%, 15%);
  }
}

.normal {
  color: white;
  background: hsl(183, 100%, 15%);

  &:focus {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
  }
}

.active {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.reset {
  color: hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  padding: 0.5em;
  font-size: 1rem;

  &:disabled {
    background: hsla(172, 67%, 45%, 0.355);

    &:hover {
      background: hsla(172, 67%, 45%, 0.355);
      color: hsl(183, 100%, 15%);
    }
  }
}
